<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Clinic Adm.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}" />
    </head>
    <body>

        <section class="articulos"> 
            <article class="articulo">
                    <h1>EDIT</h1>
                <hr>

                <form action="/edit/{{tablename}}/{{tableid}}/makeEdition=True" method="POST">
                    {%for item in query%}
                        <label for="{{item}}">{{item}}</label>
                        <input placeholder="{{item}}" value={{query|get_item:item}} class="campo" name="{{item}}" type="text" style="width: 100%; margin-top: 5px;">
                    {%endfor%}

                    <input value="OK" type="submit"></input>
                </form>
            </article>
         </section>
    </body>
</html>